.main_div {
    display: flex;
    flex-wrap: wrap;
}

.user_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: solid 1px blue;
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
}

.user_avatar {
    width: 60px;
    border-radius: 30px;
}

.all_info {
    border: solid 1px green;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    display: flex;
}