.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 45px;
}

.field {
    outline: none;
}

.success {
    border-color: green;
}

.error {
    border-color: red;
}