.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
}

.label {
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.success {
    color: green;
}

.error {
    color: red;
    margin-top: 8px;
}

.mt-8 {
    margin-top: 8px;
}