.title_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 200px;
    border: red solid 1px;
    border-radius: 15px;
    word-wrap: break-word;
    margin: 10px;
}

p {
    margin-top: 10px;
}

.todo_button {
    margin-bottom: 10px;
}

.wait {
    border-color: yellow;

}

.done {
    border-color: green;
}
