.bread_card {
    display: flex;
    width: 600px;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.bread_img {
    width: 270px;
    height: 270px;
    border-radius: 30px;
}

.bread_info {
    display: flex;
    flex-direction: column;
    width: 270px;
}

.card_revers {
    flex-direction: row-reverse;
}

.bread_price {
    font-weight: 700;
    font-size: 1.5rem;
    color: #a79f94;
    margin: 15px 0 0 0;
}

.bread_title {
    font-size: 1.4rem;
    font-weight: 800;
    margin: 0 0 15px 0;
}

p {
    font-style: italic;
    font-size: 1rem;
    word-wrap: break-word;
    margin: 0;
}

.light {
    background-color: #00d9ff;
    color: black;
}

.dark {
    background-color: brown;
    color: white;
}