.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input_and_button {
    display: flex;
    justify-content: center;
}

.input {
    width: 300px;
    font-size: large;
    
}

.card_control {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}